body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.custom {
    margin: 20px 0px 20px 0px;
    display: none;
}

#Content {
    text-align: center;
    font-weight: 700;
}

.border {
    background-color: rgb(147, 196, 125);
    height: 30px;
    font-size: 20px;
    color: rgb(57, 132, 76);
    margin: 15px 0px;
}

.detail {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: 315px;
}

.column {
    height: 30px;
    background-color: rgb(109, 158, 235);
    color: #fff;
    margin: 2.93px;
    width: 23%;
    font-size: 20px;
    cursor: pointer;
}