@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Find A Way Game!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Game rules:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    The player must guess which is the correct path to go from side A to B.
                </li>
                <li>
                    Each step have have 4 options, only one right.
                </li>
                <li>
                    The player will have 5 steps in total.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form asp-controller="Home" asp-action="GameDetail" id="GameForm" method="post">
                @Html.AntiForgeryToken()

                <input hidden id="guid" value="" />

                <div id="Content" class="container"></div>
                <button id="btnStart" type="button" class="btn btn-primary custom">Start a new game!</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function getPositions() {
            var token = $('input[name="__RequestVerificationToken"]', $('#GameForm')).val();
            var tokenJson = { '__RequestVerificationToken': token };

            $.ajax({
                url: "/Home/StartGame",
                type: "POST",
                data: tokenJson,
                success: function (data) {
                    $("#Content").empty();
                    $("#guid").val(data.pathId);

                    $("#Content").append(`<div class="row"><div class="col-md-12 border">Side A</div></div>`);
                    for (i = 1; i <= data.linesDimension; i++) {
                        var content = ''

                        for (j = 1; j <= data.columnsDimension; j++) {
                            content = content + `<div class="col-md-3 column" name="${j}" id="column-${i}-${j}">?</div>`;
                        }
                        $("#Content").append(`<div class="row" name="${i}" id="line-${i}">${content}</div>`);
                    }
                    $("#Content").append(`<div class="row"><div class="col-md-12 border">Side B</div></div>`);

                    EnableLine(0, false, true);
                    EnableLine(1, true, false);

                    $("#btnStart").css("display", "none");
                    $("#btnStart").html("Start a new game!");
                },
                error: function () {
                    $("#Content").empty();
                }
            });
        }
        function verifyPosition(col, lin) {
            var token = $('input[name="__RequestVerificationToken"]', $('#GameForm')).val();
            var myData = { column: col, line: lin, guid: $("#guid").val() };
            var tokenJson = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/Home/VerifyPosition",
                type: "POST",
                data: tokenJson,
                success: function (data) {
                    if (data.IsCorrect) {
                        $(`div[id=line-${lin}]`).children(`div[id^=column-${lin}]`).html('');

                        $(`div[id=line-${lin}]`).children(`div[name=${col}]`).html('V')
                            .css("background-color", "rgb(56, 118, 29)")
                            .css("color", "rgb(102, 167, 79)");

                        EnableLine(lin, false, false);
                        EnableLine(parseInt(lin) + 1, true, false);

                    } else {
                        $(`div[id=line-${lin}]`).children(`div[id^=column-${lin}]`).html('');

                        getFullPath(lin, col);

                        EnableLine(0, false, true);
                        $("#btnStart").css("display", "inline");
                        $("#btnStart").html("Try Again!");
                    }
                },
                error: function () {

                }
            });
        }
        function getFullPath(lin, col) {
            var token = $('input[name="__RequestVerificationToken"]', $('#GameForm')).val();
            var myData = { guid: $("#guid").val() };
            var tokenJson = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/Home/CheckFullPath",
                type: "POST",
                data: tokenJson,
                success: function (data) {

                    $.each(data, function (index, item) {

                        $(`div[id=line-${item.LineNumber}]`)
                            .children(`div[id^=column-${item.LineNumber}]`)
                            .html('');

                        $(`div[id=line-${item.LineNumber}]`)
                            .children(`div[name=${item.ColumnNumber}]`)
                            .html('V')
                            .css("background-color", "rgb(56, 118, 29)")
                            .css("color", "rgb(102, 167, 79)");

                        $(`div[id=line-${lin}]`)
                            .children(`div[name=${col}]`)
                            .html('X')
                            .css("color", "red");
                    });
                },
                error: function () {

                }
            });
        }
        function EnableLine(line, enabled, all) {
            if (enabled) {
                $(`div[id^=column-${line}]`).css("cursor", "pointer");
                $(`div[id^=column-${line}]`).css({ "pointer-events": "auto" });
            } else {
                if (all) {
                    $(`div[id^=column]`).css("cursor", "default")
                        .css({ "pointer-events": "none" });
                } else {
                    $(`div[id^=column-${line}]`).css("cursor", "default")
                        .css({ "pointer-events": "none" });
                }
            }
        }

        $(document).ready(function () {
            $("#btnStart").click();
        });

        $("#btnStart").on('click', getPositions);

        $(document).on('click', '.column', function () {
            verifyPosition($(this).attr('name'), $(this).parent().attr('name'));
        });
    </script>
}